
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 0 15px;
  margin: 20px auto;
  text-align:  center;
  gap: 20px
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  justify-content: space-around;
}

.title {
  width: 100%;
  max-width: 300px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.searchButton {
  padding: 8px 12px;
  border: 2px solid gray;
  font-size: 18px;
  cursor: pointer;
  transition: .6s;
}

.searchButton:hover {
  transform: scale(1.05);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 400px;
  width: 100%;
}

.preloader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  animation: preloader-5-spin 2s linear infinite;
}
.preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BFE2FF;
  animation: preloader-spin 3s linear infinite;
}
.preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  animation: preloader-spin 1.5s linear infinite;
}
@keyframes preloader-spin {
  0%   {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 14px;
  }
}